<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Bootcamp Overflow</strong> by <a href="https://github.com/dbdoyle182">Daniel Doyle</a>, <a href="https://github.com/jeasleygtr">Jeff Easley</a>, and <a href="https://github.com/OverAndBeyondWeb">Juan Fox</a>.
      </p>
    </div>
  </div>
</footer>