<section class="is-medium">
  <div class="container">
    <div class="box">
      <figure class="image">
        <img src="assets/images/page-not-found.png" alt="">
      </figure>
      <a href="/">Back to Site</a>
    </div>
  </div>
  
  
</section>