

<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/images/Capture2.PNG" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
          
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href='/postlist'>
              Posts
            </a>
            <a class="navbar-item" href='/login'>
              Login
            </a>
            <a class="navbar-item" href="/signup">
              Register
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted" href="https://github.com/dbdoyle182/Bootcamp-Overflow">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                {{!-- <span>stuff</span> --}}
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Bootcamp Overflow
      </h1>
      <h2 class="subtitle">
        Specially created for UNCC Bootcamp refugees
      </h2>
<form action="/login" method="POST">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Username" name='username'>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name='password'>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <button class="button is-primary">
        Login
      </button>
    </p>
  </div>
</form>

    </div>
  </div>

 



  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>




