<ul>
    {{#each post}}
        <li>
            <a href="/postview/{{this.id}}")>{{this.title}}</a>
            <p>{{this.posttype}}</p>
            <p>Author: {{this.User.username}}</p>
        </li>
    {{/each}}
</ul>