
    {{> navbar }}
    <form action="/api/users" method="POST">
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g Alex" name='first'>
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g Smith" name='last'>
            </div>
        </div>

        <div class="field">
            <label class="label">Desired User Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g Alex" name='username'>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name='email'>
            </div>
        </div>


        <div class="field">
            <label class="label">Avatar</label>
            <div class="control">
                <input class="input" type="url" placeholder="Insert image URL" name='avatar'>
            </div>
        </div>


        <div class="field">
            <label class="label">Bio</label>
            <div class="control">
                <textarea name="bio" placeholder="Tell us about yourself."></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Career Aspirations</label>
            <div class="control">
                <input class="input" type="text" placeholder="Where are you located?  What are you looking for?" name='careeraspirations'>
            </div>
        </div>

        <div class="field">
            <label class="label">Experience and Education</label>
            <div class="control">
                <input class="input" type="text" placeholder="Experience & Education" name='experience'>
            </div>
        </div>

        <div class="field">
            <label class="label">Areas of Proficiency</label>
            <div class="control">
                <input class="input" type="text" placeholder="What technologies are you most comfortable with?" name='proficiency'>
            </div>
        </div>


        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Password">
            </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Confirm Password" name='password'>
            </div>
        </div>




        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

  