<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>

    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g Alex">
        </div>
    </div>

    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g Smith">
        </div>
    </div>

    <div class="field">
        <label class="label">Desired User Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g Alex">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="Password">
        </div>
    </div>

    <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="Confirm Password">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
    </div>
    
    <div>
        <a class="button">Submit</a>
    </div>
    
  </body>
</html>